/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/*------------------TOP BAR STYLES ------------------*/
.product-plp-grid .product-grid.btn-grey .link {
	color: #000!important;
}
ul#topbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul#topbar li {
    float: left;
    list-style-type: none;
}

ul#topbar li a {
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

ul#topbar li a:hover {
    color: #111111;
}

.product-grid .fl-button {
    background-color: #a4774f !important;
    border: 1px solid #a4774f !important;
}
ul.storename{
    padding-left: 0px;
    list-style: none;
}
/*firefox issue on slider*/
.firefox .fl-content-slider .bx-loading {
	display: none!important;
}
.firefox .fl-content-slider .fl-slide {
	visibility: visible!important;
}

.fl-page-bar .storename{
    margin-bottom: 0px;
}
.fl-page-bar .storename .phone a:before, #responsive-menu-additional-content .storename .phone a:before{
        content: "\f095";
    font-family: FontAwesome;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: top;
    margin: 2px 10px 0 0px;
    font-weight: 400;
}

.product-grid .fl-button span {
    color: #ffffff !important;
}

.product-grid .fl-button:hover {
    background-color: transparent !important;
}

.product-grid .fl-button:hover span {
    color: #a4774f !important;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_ampm select {
    width: 60px!important;
    max-width: 60px!important;
    min-width: 60px!important;
}

.gform_wrapper .gfield_time_hour i {
    margin-top: -2px!important;
}

input#gform_submit_button_3,
.product-grid .fl-button {
    background-color: #a4774f !important;
    border: 1px solid #a4774f !important;
}

input#gform_submit_button_3,
.product-grid .fl-button span {
    color: #ffffff !important;
}

input#gform_submit_button_3:hover,
.product-grid .fl-button:hover {
    background-color: transparent !important;
}

input#gform_submit_button_3:hover,
.product-grid .fl-button:hover span {
    color: #a4774f !important;
}

form select {
    padding: 6px 0px !important;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox],
.gform_wrapper ul.gfield_radio li input[type=radio] {
    margin-top: 0px!important;
    vertical-align: top!important;
}

.uabb-gf-style .gform_wrapper .gfield_checkbox li label,
.uabb-gf-style .gform_wrapper .gfield_radio li label {
    vertical-align: top;
}

.gform_body input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
    width: 100%;
}

.uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
    padding-right: 15px;
}

.gform_wrapper .top_label div.ginput_container_time input{
    padding: 10px 7px!important;
    width: 40px!important;
}

ul.storename .store-opening-hrs-container .store-opening-hrs{
    padding: 0px;
    list-style: none;
}
ul.storename .store-opening-hrs-container .store-opening-hrs li{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
 #product-images-holder.colorwall-exlusive-batch .popup-imgs-holder .main-imgs{
     max-height: 455px;
 }
/*------------------END TOP BAR STYLES ------------------*/

.product-detail-layout-default .pdp2-leftbox > .row > .col-md-6 h1{
    font-size: 34px!important;
}
.gform_wrapper .gfield_radio li label{
        margin: 0px 0 0 4px!important;
}




@media (max-width:1024px) {
    ul#topbar li a {
        font-size: 11px;
        padding: 5px;
    }
    .fl-page-nav .navbar-nav li>a {
        padding: 15px 8px;
        font-size: 13px;
    }
}

@media (max-width:992px) {
    ul#topbar>li:last-child {
        display: block!important;
    }
    .social-icons-container {
        text-align: center;
    }
    .fl-button span.fl-button-text {
        color: #fff;
    }
    .uabb-gf-style .gform_wrapper .gform_footer input[type=submit] {
        width: auto!important;
        color: #fff;
    }
}

@media(max-width:768px) {
        .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0px;
    }
}
.search-row .product-grid.btn-grey .link{
	background-color: #a4774f !important;
    border: 1px solid #a4774f !important;
	    display: block;
    padding: 12px;
    border-radius: 4px;
	text-decoration: none!important;
}

.search-row .product-grid.btn-grey .link:hover{
	color: #a4774f!important;
	background-color: #fff!important;
	border: 1px solid #a4774f!important;
	 border-radius: 0px;
}
@media(max-width:767px) {
	.search-row .product-grid{
	padding: 0px 20px!important;
}
    .fl-page-bar .fl-page-bar-row .text-left {
        width: 60%;
        float: left;
    }
    .fl-page-bar .fl-page-bar-row .text-right {
        width: 40%;
        float: right;
    }
    .fl-page-bar .fl-page-bar-row .text-left * {
        text-align: left!important;
    }
    ul#topbar>li:last-child {
        float: right!important;
    }
    .fl-module-heading h1.fl-heading {
        line-height: 48px!important;
    }
    .uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
    padding-right: 0px;
}

}

@media(max-width:450px) {
    .fl-content-slider-navigation svg{
        background: #000!important;
    }
    .fl-page-bar .fl-page-bar-container .fl-page-bar-row .text-left *{
        text-align: center!important;
    }
    .fl-page-bar .fl-page-bar-container .fl-page-bar-row .text-right{
        display: none;
    }
    .about-image-center .fl-photo-align-left{
        text-align: center;
    }

    .fl-page-bar .fl-page-bar-row .text-left {
        width: 100%;
        float: none;
        padding: 0px;
    }

    .fl-col-group .boxes-on-mobile-full-width {
        width: 100%!important;
    }
    footer .fl-col-group .boxes-on-mobile-full-width {
        width: 100%!important;
    }
    button#responsive-menu-button{
        top: 41px!important;
    }
}

.fl-page {
    width: auto !important;
}